.alert-bg{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  display:none;
  align-items:center;
  justify-content:center;
}

.alert-box{
  background:#2a2a2a;
  padding:30px;
  border-radius:20px;
  text-align:center;
  animation:scale .3s ease;
}

.alert-btns{
  display:flex;
  gap:20px;
  margin-top:20px;
  justify-content:center;
}

.alert-btns button{
  padding:12px 28px;
  border:none;
  border-radius:999px;
  cursor:pointer;
  transition:.3s;
}

.alert-btns .yes{
  background:#8b5cf6;
  color:#fff;
}

.alert-btns .no{
  background:#444;
  color:#fff;
}

.alert-btns button:hover{
  transform:scale(1.1);
}

@keyframes scale{
  from{transform:scale(.8);opacity:0}
  to{transform:scale(1);opacity:1}
}


.cac{
display: flex;
input{
    padding: 15px 60px;
    border-radius: 20px;
}

}

